SUBSYSTEM=="usb", ATTR{idVendor}=="12d1", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="12d1",ATTR{idProduct}=="107e",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="12d1",ATTR{idProduct}=="107e",SYMLINK+="android_fastboot"